.spinner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06121E;
    padding-top: 45px;
}

.discover-container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #06121E;
    color: white;
    padding-bottom: 20px;
    overflow-y: hidden;
    // padding-top: 45px;


    .discover-spinner-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #06121E;
    }


    .types-subtypes-container {
        margin-top: 10px;
        width: 90%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 5%;


        .types-container {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            .types {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    height: 5px;
                }
        
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px #06121E;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #090c18;
                    outline: 1px solid black;
                    border-radius: 10px;
        
                    &:hover {
                        background-color: #0E2C4B;
                    }
                }
        
                &::-webkit-scrollbar-button {
                    width: 10px;
                }
    
                .type {
                    min-width: 100px;
                    height: 15px;
                    display: flex;
                    text-overflow: clip;
                    overflow: hidden;
                    align-items: center;
                    padding-left: 3px;
                    border-left: 1px solid white;
                    white-space: nowrap;
                    margin-left: 10px;

        
                    &.checked {
                        color: #207fdd;
                    }
    
                    &:hover {
                        color: #207fdd;
                    }
        
                }
            }
        }


        .SubTypes-container {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            
            
            .SubTypes {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow-x: scroll;
    
                &::-webkit-scrollbar {
                    height: 5px;
                }
        
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px #06121E;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #090c18;
                    outline: 1px solid black;
                    border-radius: 10px;
        
                    &:hover {
                        background-color: #0E2C4B;
                    }
                }
        
                &::-webkit-scrollbar-button {
                    width: 10px;
                }
    
    
    
                .subtype {
                    min-width: 120px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    padding-left: 3px;
                    border-left: 1px solid white;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: clip;
                    margin-left: 10px;
    

                    &.checked {
                        color: #207fdd;
                    }
    
                    &:hover {
                        color: #207fdd;
                    }
                }
            }
        }
        
    
        }
    

    .items-container {
        width: 100%;
        height: 99%;
        padding-inline: 10px;
        padding-top: 30px;
        margin-top: 20px;
        // flex-shrink: 0;

        // display: grid;
        // grid-template-columns: repeat(9, 1fr);
        // column-gap: 1px;
        // row-gap: 30px;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        overflow-y: auto;
        overscroll-behavior-y: contain;
        // scroll-snap-type: y mandatory;
        scroll-padding-inline: 15px;
        position: relative;

        transition: 0.5s;

        &.isScrolling {
            height: 99%;
        }

        &.clicked {
            height: 30%;
        }

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px #06121E;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #090c18;
            outline: 1px solid black;
            border-radius: 10px;

            &:hover {
                background-color: #0E2C4B;
            }
        }

        &::-webkit-scrollbar-button {
            width: 10px;
        }

        

    }

    .no-items-container {
        width: 100%;
        height: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .items-spinner-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}