.discover-container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #201F32;
    color: white;
    padding-bottom: 20px;
    overflow-y: hidden;


    


    .types-subtypes-container {
        margin-top: 10px;
        width: 90%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 5%;


        .types-container {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            .types {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow-x: scroll;

                &::-webkit-scrollbar {
                    height: 5px;
                }
        
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px #201F32;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #3D3F95;
                    outline: 1px solid black;
                    border-radius: 10px;
        
                    &:hover {
                        background-color: #625FA5;
                    }
                }
        
                &::-webkit-scrollbar-button {
                    width: 10px;
                }
    
                .type {
                    min-width: 100px;
                    height: 15px;
                    display: flex;
                    text-overflow: clip;
                    overflow: hidden;
                    align-items: center;
                    padding-left: 3px;
                    border-left: 1px solid white;
                    white-space: nowrap;
                    margin-left: 10px;

        
    
                    &:hover {
                        color: #625FA5;
                    }
        
                    &.clicked {
                        background-color: #201F32;
                    }
                }
            }
        }


        .SubTypes-container {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            
            
            .SubTypes {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow-x: scroll;
    
                &::-webkit-scrollbar {
                    height: 5px;
                }
        
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px #201F32;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #3D3F95;
                    outline: 1px solid black;
                    border-radius: 10px;
        
                    &:hover {
                        background-color: #625FA5;
                    }
                }
        
                &::-webkit-scrollbar-button {
                    width: 10px;
                }
    
    
    
                .subtype {
                    min-width: 120px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    padding-left: 3px;
                    border-left: 1px solid white;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: clip;
                    margin-left: 10px;
    
    
                    &:hover {
                        color: #625FA5;
                    }
                }
            }
        }
        
    
        }
    

    .items-container {
        width: 100%;
        height: 48%;
        padding-inline: 10px;
        padding-top: 30px;

        // display: grid;
        // grid-template-columns: repeat(9, 1fr);
        // column-gap: 1px;
        // row-gap: 30px;

        display: flex;
        flex-flow: row wrap;

        overflow-y: auto;
        overscroll-behavior-y: contain;
        // scroll-snap-type: y mandatory;
        scroll-padding-inline: 15px;
        position: relative;

        transition: 0.5s;

        &.isScrolling {
            height: 80%;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px #201F32;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #3D3F95;
            outline: 1px solid black;
            border-radius: 10px;

            &:hover {
                background-color: #625FA5;
            }
        }

        &::-webkit-scrollbar-button {
            width: 10px;
        }

        

    }
}