

.not-found-container {
    min-height: 96%;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #201F32;
    color: white;
}